@media screen and (max-width: 1580px) {
  .contact-block {
    grid-template-columns: 1fr;
    width: 85%;
    margin: 0 auto;
  }
  .contact-block__right, .contact-block__left {
    display: flex;
    justify-content: center;
  }
  .contact-block__right {
    max-width: none;
    width: 100%;
    margin-top: 65px;
  }
  .contact-block__left-feedback {
    width: 100%;
  }
  .contact-block__left-feedback__content-block .feedback__input {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 1450px) {
  .main-block {
    background: url(../../img/bg-vector.svg) -50px 40% no-repeat, url(../../img/bg-image.png) top right -90px no-repeat, #0F090B;
  }
  .portfolio {
    grid-template-columns: 1fr;
  }
  .portfolio__indandlove .text {
    padding: 182px 60px 142px 120px;
  }
  .portfolio__indandlove .text h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio__indandlove .text h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .portfolio__indandlove .text .pn p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio__photos {
    height: 2800px;
  }
  .portfolio__cospandstud .stud .text {
    padding: 182px 60px 142px 120px;
  }
  .portfolio__cospandstud .stud .text h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio__cospandstud .stud .text h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .portfolio__cospandstud .stud .text .pn p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1250px) {
  .main-block {
    background: url(../../img/bg-vector.svg) -110px 40% no-repeat, url(../../img/bg-image.png) top right -150px no-repeat, #0F090B;
  }
  .main-block .banner-block {
    width: 75%;
  }
  .statistic-wrapper .static-block {
    flex-basis: 100%;
    border-radius: 0;
    margin: 0;
  }
  .statistic-wrapper .static-block__content {
    width: 100%;
  }
  .price-services__middle__blocks {
    flex-direction: column;
  }
  .price-services__middle__blocks .block {
    width: 100%;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 1150px) {
  .main-block {
    background: url(../../img/bg-image.png) top right -150px no-repeat, #0F090B;
  }
}

@media screen and (max-width: 940px) {
  .main-block .menu-items {
    width: 100%;
    justify-content: space-evenly;
  }
  .main-block .menu-items__block, .main-block .menu-items__social {
    margin-left: 0;
  }
  .main-block .menu-burger__block .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .portfolio__indandlove {
    grid-template-columns: 1fr;
  }
  .portfolio__indandlove .text.ind {
    grid-column: 1;
    grid-row: 1;
  }
  .portfolio__indandlove .text {
    padding: 132px 60px 142px 140px;
  }
  .portfolio__indandlove .text h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .portfolio__indandlove .text h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .portfolio__indandlove .text .pn p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .portfolio__photos {
    height: 3500px;
    grid-template-columns: 1fr;
  }
  .portfolio__cospandstud .stud {
    grid-template-columns: 1fr;
  }
  .portfolio__cospandstud .stud .text {
    grid-column: 1;
    grid-row: 1;
  }
  .portfolio__cospandstud .stud .text {
    padding: 132px 60px 142px 140px;
  }
  .portfolio__cospandstud .stud .text h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .portfolio__cospandstud .stud .text h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .portfolio__cospandstud .stud .text .pn p {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 870px) {
  .main-block .menu-burger__block {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .portfolio__main-page {
    height: 100vw;
  }
  .portfolio__main-page .middle p {
    font-size: 20px;
  }
  .portfolio__main-page .middle h3 {
    font-size: 40px;
  }
  .portfolio__indandlove {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }
  .portfolio__indandlove .text.ind {
    order: 1;
  }
  .portfolio__indandlove .photo.ind {
    order: 2;
  }
  .portfolio__indandlove .text.love {
    order: 3;
  }
  .portfolio__indandlove .photo.love {
    order: 4;
  }
  .portfolio__indandlove .text {
    width: 100%;
    height: 100vw;
    padding: 182px 60px 142px 120px;
  }
  .portfolio__indandlove .text h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio__indandlove .text h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .portfolio__indandlove .text .pn p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio__indandlove .photo {
    height: 100vw;
  }
  .portfolio__photos {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .portfolio__cospandstud .cosp {
    padding: 0;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio__cospandstud .cosp p {
    display: none;
  }
  .portfolio__cospandstud .cosp .name {
    height: fit-content;
  }
  .portfolio__cospandstud .stud {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }
  .portfolio__cospandstud .stud .text {
    order: 1;
  }
  .portfolio__cospandstud .stud .photo {
    order: 2;
  }
  .portfolio__cospandstud .stud .text {
    width: 100%;
    height: 100vw;
    padding: 182px 60px 142px 120px;
  }
  .portfolio__cospandstud .stud .text h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio__cospandstud .stud .text h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .portfolio__cospandstud .stud .text .pn p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio__cospandstud .stud .photo {
    height: 100vw;
  }
  .price-services__middle__blocks .block {
    padding: 25px 24px 31px 40px;
  }
  .price-services__middle__blocks .block h3 {
    font-size: 25px;
    margin-bottom: 22px;
  }
  .price-services__middle__blocks .block h2 {
    font-size: 37px;
    margin-bottom: 4px;
  }
  .price-services__middle__blocks .block p {
    font-size: 16px;
    margin-bottom: 17px;
  }
  .price-services__middle__blocks .block .list {
    padding-top: 30px;
  }
  .price-services__middle__blocks .block .list .point {
    margin-bottom: 30px;
  }
  .price-services__middle__blocks .block .list .point img {
    margin-right: 20px;
  }
  .price-services__middle__blocks .block .list .point p {
    font-size: 12.3975px;
  }
}

@media screen and (max-width: 378px) {
  .contact-block {
    grid-template-columns: 1fr;
  }
}
