@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
}

.orange {
  color: #FF6B00;
}

.main-block {
  height: 1080px;
  background: url("../../img/main-bg.png") no-repeat;
  background-size: 1920px 1080px;
}

.main-block .menu {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 79px;
  height: 33px;
}

.main-block .menu-burger .burger-icon {
  cursor: pointer;
}

.main-block .menu-burger__block {
  background-color: #000000;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 865px;
  padding: 79px 160px 86px 81px;
  box-sizing: border-box;
  transition: .4s all;
}

.main-block .menu-burger__block .burger-close {
  cursor: pointer;
}

.main-block .menu-burger__block .nav {
  display: flex;
  align-items: center;
}

.main-block .menu-burger__block ul {
  margin-top: 153px;
}

.main-block .menu-burger__block ul li {
  margin-bottom: 30px;
  list-style: none;
}

.main-block .menu-burger__block ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.875rem;
  line-height: 36px;
  transition: .2s all;
}

.main-block .menu-burger__block ul li a:hover {
  transition: .2s all;
  color: #FF6B00;
}

.main-block .menu-burger__block-footer {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 0;
}

.main-block .menu-burger__block-footer .menu-items__social {
  margin-left: 0;
}

.main-block .menu-burger__block-footer__email {
  display: inline-block;
  color: #ffffff;
  font-size: 1.8125rem;
  line-height: 34px;
  text-decoration: none;
}

.main-block .menu-burger__block-footer__email:before {
  content: url("/img/email-icon.svg");
  width: 29px;
  height: 29px;
  vertical-align: middle;
  margin-right: 18px;
}

.main-block .menu-items {
  display: flex;
}

.main-block .menu-items__block {
  margin-left: 115px;
}

.main-block .menu-items__block__phone, .main-block .menu-items__block__city {
  display: inline-block;
  color: #ffffff;
  font-size: 1.5625rem;
}

.main-block .menu-items__block__phone::before, .main-block .menu-items__block__city::before {
  vertical-align: middle;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.main-block .menu-items__block__phone {
  text-decoration: none;
}

.main-block .menu-items__block__phone::before {
  content: url("../../img/phone.svg");
}

.main-block .menu-items__block__phone:hover {
  text-decoration: underline;
}

.main-block .menu-items__block__city {
  margin-left: 48px;
}

.main-block .menu-items__block__city::before {
  content: url("../../img/city.svg");
}

.main-block .menu-items__social {
  display: flex;
  align-items: center;
  margin-left: 165px;
}

.main-block .menu-items__social a:last-child {
  margin-left: 22px;
}

.main-block .menu-items__social a img {
  cursor: pointer;
}

.main-block .banner-block {
  width: fit-content;
  margin-left: 10%;
  margin-top: 197px;
}

.main-block .banner-block__content {
  color: #ffffff;
}

.main-block .banner-block__content .banner-text {
  font-weight: 500;
  line-height: 35px;
  font-size: 1.875rem;
  font-style: normal;
}

.main-block .banner-block__content .banner-text__main {
  font-size: 4.6875rem;
  font-weight: bold;
  margin: 20px 0;
}

.main-block .banner-block__content .quote {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.875rem;
  max-width: 1055px;
}

.main-block .banner-block__button {
  color: #000000;
  font-size: 1.25rem;
  line-height: 24px;
  padding: 22px 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 57px;
  outline: none;
}

.statistic-wrapper {
  width: 100%;
  display: flex;
}

.statistic-wrapper .static-block {
  flex-basis: 79%;
  height: 250px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 36px rgba(15, 9, 11, 0.1);
  margin: -158px auto 68px auto;
  display: flex;
  justify-content: center;
}

.statistic-wrapper .static-block__content {
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.statistic-wrapper .static-block__content-item {
  text-transform: uppercase;
  color: #000000;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  flex-basis: 194px;
  font-weight: bold;
}

.statistic-wrapper .static-block__content-item .value-item {
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 72px;
  text-shadow: 0px 4px 0px #FF6B00;
  font-weight: 600;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio button {
  cursor: pointer;
}

.portfolio__main-page {
  background-image: url("../../img/portfolio/prt-main-page.png");
  background-size: cover;
  padding: 13% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__main-page .left {
  display: flex;
  justify-content: flex-end;
}

.portfolio__main-page .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__main-page .middle p {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 4%;
  text-transform: uppercase;
}

.portfolio__main-page .middle h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 11px;
}

.portfolio__main-page .middle h3 span {
  color: #FF6B00;
}

.portfolio__main-page .middle button {
  outline: none;
  border: none;
  width: 192px;
  height: 61px;
  padding: 18.5px 45px;
  background: #FFFFFF;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 7%;
}

.portfolio__indandlove {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__indandlove .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__indandlove .text {
  background-color: #000;
  padding: 27% 11% 12% 16%;
}

.portfolio__indandlove .text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FF6B00;
  margin-left: 22px;
}

.portfolio__indandlove .text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 9px;
  margin-left: 22px;
}

.portfolio__indandlove .text .pn {
  border-left: 1px solid #fff;
  padding-left: 22px;
}

.portfolio__indandlove .text .pn p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.31);
}

.portfolio__indandlove .text button {
  outline: none;
  border: none;
  width: 123px;
  height: 39px;
  padding: 11.5px 25.5px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 8%;
  margin-left: 22px;
}

.portfolio__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__cospandstud .cosp {
  background-image: url("../../img/portfolio/cosp-bg.png");
  background-size: cover;
  padding: 28% 28% 32% 35%;
  display: flex;
}

.portfolio__cospandstud .cosp p {
  font-style: normal;
  font-weight: 500;
  font-size: 17.3333px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.53);
}

.portfolio__cospandstud .cosp .name {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1.33px solid #fff;
  text-transform: uppercase;
}

.portfolio__cospandstud .cosp .name h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 17.3333px;
  line-height: 20px;
  color: #FF6B00;
}

.portfolio__cospandstud .cosp .name h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 33.3333px;
  line-height: 40px;
  color: #FFFFFF;
  margin-top: 4px;
}

.portfolio__cospandstud .stud {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__cospandstud .stud .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__cospandstud .stud .text {
  background-color: #000;
  padding: 27% 11% 12% 16%;
}

.portfolio__cospandstud .stud .text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FF6B00;
  margin-left: 22px;
}

.portfolio__cospandstud .stud .text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 9px;
  margin-left: 22px;
}

.portfolio__cospandstud .stud .text .pn {
  border-left: 1px solid #fff;
  padding-left: 22px;
}

.portfolio__cospandstud .stud .text .pn p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.31);
}

.portfolio__cospandstud .stud .text button {
  outline: none;
  border: none;
  width: 123px;
  height: 39px;
  padding: 11.5px 25.5px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 8%;
  margin-left: 22px;
}

.price-services {
  width: 100%;
  background-color: #0F090B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-services__right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}

.price-services__left {
  display: flex;
  justify-content: flex-start;
}

.price-services__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-services__middle p {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.price-services__middle p span {
  color: #FF6B00;
}

.price-services__middle h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.price-services__middle .line {
  margin-top: 30px;
  display: flex;
  margin-bottom: 69px;
}

.price-services__middle .line .long {
  height: 4px;
  background: #FF6B00;
  width: 133px;
  margin-right: 7px;
}

.price-services__middle .line .mid {
  width: 27px;
  height: 4px;
  background: #FF6B00;
  margin-right: 7px;
}

.price-services__middle .line .short {
  height: 4px;
  width: 15px;
  background: #FF6B00;
}

.price-services__middle__blocks {
  margin: 0 5%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 144px;
}

.price-services__middle__blocks .block {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px 65px 50px 65px;
  box-sizing: border-box;
  width: 30%;
  height: fit-content;
  position: relative;
}

.price-services__middle__blocks .block .special {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../img/price-services/line.svg");
  width: 106px;
  height: 106px;
}

.price-services__middle__blocks .block .special p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(44.79deg);
  margin-bottom: 0;
  margin-top: 32px;
  margin-left: 22px;
}

.price-services__middle__blocks .block h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #0F090B;
  margin-bottom: 35px;
  text-transform: none;
}

.price-services__middle__blocks .block h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #FF6B00;
  margin-bottom: 5px;
}

.price-services__middle__blocks .block p {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #0F090B;
  text-transform: none;
  margin-bottom: 25px;
}

.price-services__middle__blocks .block .list {
  border-top: 3px solid #E9E9E9;
  padding-top: 48px;
}

.price-services__middle__blocks .block .list .point {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.price-services__middle__blocks .block .list .point img {
  margin-right: 33px;
}

.price-services__middle__blocks .block .list .point p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0F090B;
  margin-bottom: 0;
}

.price-services__middle__blocks .block button {
  outline: none;
  cursor: pointer;
  width: 74%;
  height: 70px;
  background: linear-gradient(265.9deg, #FF5C00 -8.27%, #FF4D00 113.07%);
  border-radius: 9px;
  border: none;
  margin-left: 13%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.qblock {
  background-color: #ffffff;
  width: 90%;
  margin: 133px auto 210px auto;
}

.qblock-title__block {
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0F090B;
  text-transform: uppercase;
  font-weight: 600;
}

.qblock-title__block-subtitle {
  font-size: 1.875rem;
  line-height: 36px;
}

.qblock-title__block-title {
  line-height: 60px;
  font-size: 3.125rem;
  margin-bottom: 30px;
}

.qblock-content {
  display: flex;
  justify-content: center;
}

.qblock-content__left, .qblock-content__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qblock-content__left .qblock-content__q {
  margin-top: -10%;
}

.qblock-content__middle {
  padding: 0 75px;
}

.qblock-content__right {
  margin-top: 2%;
  align-items: flex-start;
}

.qblock-content__right .qblock-content__q, .qblock-content__right .qblock-content__answer {
  text-align: left;
}

.qblock-content__answer {
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 736px;
  padding: 37px 31px 27px 31px;
  box-shadow: 0 0 15px -10px #000000;
}

.qblock-content__answer.orange-block {
  background-color: #FF6B00;
  box-shadow: none;
}

.qblock-content__answer.orange-block p {
  color: #ffffff;
}

.qblock-content__answer p {
  color: #0F090B;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: justify;
  font-size: 1.375rem;
}

.qblock-content__q {
  font-size: 3.125rem;
  line-height: 60px;
  text-align: right;
  color: #000000;
  font-weight: 600;
}
