@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
}

.main-block {
  height: 1080px;
  background: url("../../img/main-bg.png") no-repeat;
  background-size: 1920px 1080px;
}

.main-block .menu {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding-top: 79px;
}

.main-block .menu-burger {
  cursor: pointer;
}

.main-block .menu-items {
  display: flex;
}

.main-block .menu-items__block {
  margin-left: 115px;
}

.main-block .menu-items__block__phone, .main-block .menu-items__block__city {
  display: inline-block;
  color: #ffffff;
  font-size: 1.5625rem;
}

.main-block .menu-items__block__phone::before, .main-block .menu-items__block__city::before {
  vertical-align: middle;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.main-block .menu-items__block__phone {
  text-decoration: none;
}

.main-block .menu-items__block__phone::before {
  content: url("../../img/phone.svg");
}

.main-block .menu-items__block__phone:hover {
  text-decoration: underline;
}

.main-block .menu-items__block__city {
  margin-left: 48px;
}

.main-block .menu-items__block__city::before {
  content: url("../../img/city.svg");
}

.main-block .menu-items__social {
  display: flex;
  align-items: center;
  margin-left: 165px;
}

.main-block .menu-items__social img {
  cursor: pointer;
}

.main-block .menu-items__social img:last-child {
  margin-left: 22px;
}

.main-block .banner-block {
  width: fit-content;
  margin-left: 10%;
  margin-top: 197px;
}

.main-block .banner-block__content {
  color: #ffffff;
}

.main-block .banner-block__content .banner-text {
  font-weight: 500;
  line-height: 35px;
  font-size: 1.875rem;
  font-style: normal;
}

.main-block .banner-block__content .banner-text__main {
  font-size: 4.6875rem;
  font-weight: bold;
  margin: 20px 0;
}

.main-block .banner-block__content .banner-text__main .orange {
  color: #FF6B00;
}

.main-block .banner-block__content .quote {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.875rem;
}

.main-block .banner-block__button {
  color: #000000;
  font-size: 1.25rem;
  line-height: 24px;
  padding: 22px 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 57px;
  outline: none;
}

.statistic-wrapper {
  width: 100%;
  display: flex;
}

.statistic-wrapper .static-block {
  flex-basis: 79%;
  height: 250px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 36px rgba(15, 9, 11, 0.1);
  margin: -158px auto 68px auto;
  display: flex;
  justify-content: center;
}

.statistic-wrapper .static-block__content {
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.statistic-wrapper .static-block__content-item {
  text-transform: uppercase;
  color: #000000;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  flex-basis: 194px;
  font-weight: bold;
}

.statistic-wrapper .static-block__content-item .value-item {
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 72px;
  text-shadow: 0px 4px 0px #FF6B00;
  font-weight: 600;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__main-page {
  background-image: url("../../img/portfolio/prt-main-page.png");
  background-size: cover;
  padding: 13% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__main-page .left {
  display: flex;
  justify-content: flex-end;
}

.portfolio__main-page .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__main-page .middle p {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 4%;
  text-transform: uppercase;
}

.portfolio__main-page .middle h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 11px;
}

.portfolio__main-page .middle h3 span {
  color: #FF6B00;
}

.portfolio__main-page .middle button {
  outline: none;
  border: none;
  width: 192px;
  height: 61px;
  padding: 18.5px 45px;
  background: #FFFFFF;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 7%;
}

.portfolio__indandlove {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__indandlove .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__indandlove .text {
  background-color: #000;
  padding: 27% 11% 12% 16%;
}

.portfolio__indandlove .text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FF6B00;
  margin-left: 22px;
}

.portfolio__indandlove .text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 9px;
  margin-left: 22px;
}

.portfolio__indandlove .text .pn {
  border-left: 1px solid #fff;
  padding-left: 22px;
}

.portfolio__indandlove .text .pn p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.31);
}

.portfolio__indandlove .text button {
  outline: none;
  border: none;
  width: 123px;
  height: 39px;
  padding: 11.5px 25.5px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 8%;
  margin-left: 22px;
}

.portfolio__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__cospandstud .cosp {
  background-image: url("../../img/portfolio/cosp-bg.png");
  background-size: cover;
  padding: 28% 28% 32% 35%;
  display: flex;
}

.portfolio__cospandstud .cosp p {
  font-style: normal;
  font-weight: 500;
  font-size: 17.3333px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.53);
}

.portfolio__cospandstud .cosp .name {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1.33px solid #fff;
  text-transform: uppercase;
}

.portfolio__cospandstud .cosp .name h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 17.3333px;
  line-height: 20px;
  color: #FF6B00;
}

.portfolio__cospandstud .cosp .name h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 33.3333px;
  line-height: 40px;
  color: #FFFFFF;
  margin-top: 4px;
}

.portfolio__cospandstud .stud {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__cospandstud .stud .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__cospandstud .stud .text {
  background-color: #000;
  padding: 27% 11% 12% 16%;
}

.portfolio__cospandstud .stud .text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FF6B00;
  margin-left: 22px;
}

.portfolio__cospandstud .stud .text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 2px;
  margin-bottom: 9px;
  margin-left: 22px;
}

.portfolio__cospandstud .stud .text .pn {
  border-left: 1px solid #fff;
  padding-left: 22px;
}

.portfolio__cospandstud .stud .text .pn p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.31);
}

.portfolio__cospandstud .stud .text button {
  outline: none;
  border: none;
  width: 123px;
  height: 39px;
  padding: 11.5px 25.5px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 8%;
  margin-left: 22px;
}
