@media screen and (max-width: 1700px){
    .qblock-content-stage {
        max-height: 247px;
    }
}

@media screen and (max-width: 1580px){
    .contact-block {
        flex-direction: column;
        width: 85%;
        margin: 0 auto;

        &__right, &__left {
            display: flex;
            justify-content: center;
        }

        &__right {
            max-width: none;
            width: 100%;
            margin-top: 65px;
        }

        &__left {

            &-feedback {
                width: 100%;

                &__content-block .feedback__input {
                    width: 100%;
                    max-width: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1530px){
    .qblock-content-stage {
        max-height: 272px;
    }
}

@media screen and (max-width: 1450px) {
    .main-block {
        background: url(../../img/bg-vector.svg) -50px 40% no-repeat, 
        url(../../img/bg-image.png) top right -90px no-repeat, #0F090B;
    }

    .qblock-content-stage {
        max-height: 302px;
    }

    .portfolio {
        grid-template-columns: 1fr;

        &__indandlove {
            & .text {
                padding: 182px 60px 142px 120px;

                & h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                & h2 {
                    font-size: 30px;
                    margin-bottom: 12px;
                }
    
                & .pn {
                    & p {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &__photos {
            height: 2800px;
        }

        &__cospandstud .stud {
            & .text {
                padding: 182px 60px 142px 120px;

                & h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                & h2 {
                    font-size: 30px;
                    margin-bottom: 12px;
                }
    
                & .pn {
                    & p {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 1432px){
    .qblock-content-stage {
        max-height: 274px;
    }
}

@media screen and (max-width: 1349px){
    .qblock-content-stage {
        max-height: 306px;
    }
}

@media screen and (max-width: 1295px){
    .qblock-content__q {
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .main-block {
        background: url(../../img/bg-vector.svg) -110px 40% no-repeat, 
        url(../../img/bg-image.png) top right -150px no-repeat, #0F090B;

        .banner-block {
            width: 75%;
        }
    }

    .statistic-wrapper {

        .static-block {
            flex-basis: 100%;
            border-radius: 0;
            margin: 0;

            &__content {
                width: 100%;
            }
        }
    }

    .price-services__middle__blocks {
        flex-direction: column;

        & .block {
            width: 100%;
            margin-bottom: 18px;
        }
    }
}

@media screen and (max-width: 1220px){
    .qblock-content-stage {
        max-height: 326px;
    }
}

@media screen and (max-width: 1150px) {
    .main-block {
        background: url(../../img/bg-vector.svg) -110px 40% no-repeat,
        url(../../img/bg-image.png) top right -280px no-repeat, #0F090B;
    }
}

@media screen and (max-width: 1042px){
    .qblock-content-stage {
        max-height: 377px;
    }
}

@media screen and (max-width: 940px) {
    .qblock-content {
        grid-template-rows: none;
    }

    .main-block .menu-items {
        width: 100%;
        justify-content: space-evenly;
        
        &__block, &__social {
            margin-left: 0;
        }
    }
    .qblock-content__top, .qblock-content__middle, .qblock-content__bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: inherit;

        &:not(:first-child) {
            margin-top: 47px;
        }
    }
    .qblock-content{
        &-stage {

            &__step {
                width: 25px;
                height: 25px;
            }
            order: 1;

            .line {
                display: none;
            }
        }

        &__q {
            font-size: 2rem;
            line-height: 40px;
            margin-bottom: 20px;
            order: 2;
        }

        &__answer {
            order: 3;
        }
    }
    

    .main-block .menu-burger__block {
        .nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .portfolio__indandlove {
        grid-template-columns: 1fr;

        & .text.ind {
            grid-column: 1;
            grid-row: 1;
        }

        & .text {
            padding: 132px 60px 142px 140px;

            & h3 {
                font-size: 21px;
                margin-bottom: 12px;
            }

            & h2 {
                font-size: 38px;
                margin-bottom: 24px;
            }

            & .pn {
                & p {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .portfolio__photos {
        height: 3500px;
        grid-template-columns: 1fr;
    }

    .portfolio__cospandstud .stud {
        grid-template-columns: 1fr;

        & .text {
            grid-column: 1;
            grid-row: 1;
        }

        & .text {
            padding: 132px 60px 142px 140px;

            & h3 {
                font-size: 21px;
                margin-bottom: 12px;
            }

            & h2 {
                font-size: 38px;
                margin-bottom: 24px;
            }

            & .pn {
                & p {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


@media screen and (max-width: 870px) {
    .main-block {
        background: url(../../img/bg-vector.svg) -180px 40% no-repeat, 
        url(../../img/bg-image.png) top right -310px no-repeat, #0F090B;
    }
    .main-block .menu-burger__block {
        width: 100%;
        height: 100%;
    }

    .main-block .banner-block__content .banner-text__main {
        font-size: 3.5rem;
    }

    .main-block .banner-block__content .quote {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 825px) {
    .contact-block{
        width: 100%;
    }

    .contact-block__right, .contact-block__left {
        width: 90%;
        margin: 0 auto;
    }

    .contact-block__right {
        width: 100%;
        margin: 65px auto 0 auto;

    }

    .contact-block__left-feedback__content-block .feedback__input-message .feedback__input {
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .main-block {
        background: url(../../img/bg-vector.svg) -100px 31% /292px no-repeat, 
        url(../../img/bg-image.png) top -40px right -460px no-repeat, #0F090B;
    }

    .main-block {
        height: 837px;
    }

    .main-block .menu {
        padding-top: 47px;
    }

    .main-block .banner-block {
        margin-top: 97px;
    }

    .main-block .menu-items {
        justify-content: flex-end;
    }

    .menu-items__block.main {
        display: none;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 710px) {
    .contact-block__right footer {
        justify-content: space-around;

        & .footer-block {
            padding: 5px 0;
            flex-direction: column;
            align-items: flex-start;
            flex: none;

            & a, p {
                margin-left: 0;
                margin-bottom: 2px;
            }
        }
    }

    // .contact-block__right footer .footer-block {
    //     justify-content: space-between;
    //     margin: 5px auto;
    //     &__phone, &__email, &__city {
    //         margin-left: 0;
    //     }
    // }

    .contact-block__right img {
        display: none;
    }

    // .footer-block {
    //     flex-wrap: wrap;
    // }

    // .contact-block__right footer .footer-social {
    //     flex-direction: row;
    // }
}

@media screen and (max-width: 700px) {
    .contact-block__left-feedback__title-block .feedback__subtitle {
        font-size: 1.8rem;
    }
    .contact-block__left-feedback__title-block .feedback__title {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 690px) {
    .qblock-title__block {
        margin-bottom: 47px;
    }

    .qblock-title__block{

        &-subtitle{
            font-size: 2rem;
        }

        &-title{
            font-size: 2.7rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .portfolio {

        &__main-page {
            height: 100vw;

            .middle{

                & p {
                    font-size: 20px;
                }

                & h3 {
                    font-size: 40px;
                }
            }
        }

        &__indandlove {
            display: flex;
            flex-direction: column;
            flex-flow: wrap;

            & .text.ind {
                order: 1;
            }

            & .photo.ind {
                order: 2;
            }

            & .text.love {
                order: 3;
            }

            & .photo.love {
                order: 4;
            }

            & .text {
                width: 100%;
                height: 100vw;
                padding: 182px 60px 142px 120px;

                & h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                & h2 {
                    font-size: 30px;
                    margin-bottom: 12px;
                }
    
                & .pn {

                    & p {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }

            & .photo {
                height: 100vw;
            }
        }

        &__photos {
            height: auto;
            display: flex;
            flex-direction: column;
        }

        &__cospandstud {
            & .cosp {
                padding: 0;
                height: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                & p {
                    display: none;
                }
                & .name {
                    height: fit-content;
                }
            }

            & .stud {
                display: flex;
                flex-direction: column;
                flex-flow: wrap;

                & .text {
                    order: 1;
                }

                & .photo {
                    order: 2;
                }

                & .text {
                    width: 100%;
                    height: 100vw;
                    padding: 182px 60px 142px 120px;
    
                    & h3 {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
        
                    & h2 {
                        font-size: 30px;
                        margin-bottom: 12px;
                    }
        
                    & .pn {
                        & p {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                }
    
                & .photo {
                    height: 100vw;
                }
            }
        }
    }

    .price-services__middle__blocks {
        .block {
            padding: 25px 24px 31px 40px;

            & h3 {
                font-size: 25px;
                margin-bottom: 22px;
            }

            & h2 {
                font-size: 37px;
                margin-bottom: 4px;
            }

            & p {
                font-size: 16px;
                margin-bottom: 17px;
            }

            & .list {
                padding-top: 30px;

                & .point {
                    margin-bottom: 30px;
                    & img {
                        margin-right: 20px;
                    }

                    & p {
                        font-size: 12.3975px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .qblock {
        width: 100%;
        margin: 133px 0 210px 0;
    }
    .qblock-content__answer {
        border-radius: 0;
        background-color: #FF6B00;
        box-shadow: none;
        p {
            color: #ffffff;
        }
    }

    .qblock-content-stage__step {
        background-color: #FF6B00;
        p {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 610px) { 
    .qblock-title__block-subtitle {
        font-size: 1.6rem;
    }
    .qblock-title__block-title {
        font-size: 2.5rem;
    }
    .contact-block__left-feedback__title-block .feedback__subtitle {
        font-size: 1.6rem;
    }
    .contact-block__left-feedback__title-block .feedback__title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 530px) {
    .portfolio {
        &__main-page {
            padding: 43px 43px;
            height: auto;

            & .middle h3 {
                font-size: 31px;
            }
        }

        &__indandlove {
            & .text {
                padding: 108px 35px 108px 42px;
            }
        }

        &__cospandstud .stud {
            & .text {
                padding: 108px 35px 108px 42px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .portfolio {
        &__main-page {
            & .middle h3 {
                font-size: 25px;
            }

            & .middle p {
                font-size: 18px;
            }
        }

        &__indandlove {
            & .text {
                height: auto;

                & h3 {
                    font-size: 11px;
                }

                & h2 {
                    font-size: 21px;
                }

                & .pn p {
                    font-size: 13px;
                }
            }
        }

        &__cospandstud .stud {
            & .text {
                height: auto;

                & h3 {
                    font-size: 11px;
                }

                & h2 {
                    font-size: 21px;
                }

                & .pn p {
                    font-size: 13px;
                }
            }
        }
    }

    .price-services__middle {
        & p {
            font-size: 16px;
        }

        & h3 {
            font-size: 27px;
        }
    }
}

@media screen and (max-width: 378px) {
    .contact-block {
        grid-template-columns: 1fr;
    }
}