@media screen and (max-width: 1250px) {
    .portfolio {
        grid-template-columns: 1fr;

        &__indandlove {
            & .text {
                & h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                & h2 {
                    font-size: 30px;
                    margin-bottom: 12px;
                }
    
                & .pn {
                    & p {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &__cospandstud .stud {
            & .text {
                & h3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
    
                & h2 {
                    font-size: 30px;
                    margin-bottom: 12px;
                }
    
                & .pn {
                    & p {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        
    }

    .price-services__middle__blocks {
        flex-direction: column;

        & .block {
            width: 100%;
            margin-bottom: 18px;
        }
    }
}

@media screen and (max-width: 940px) {
    .portfolio__indandlove {
        grid-template-columns: 1fr;

        & .text.ind {
            grid-column: 1;
            grid-row: 1;
        }

        & .text {
            padding: 132px 60px 142px 140px;

            & h3 {
                font-size: 21px;
                margin-bottom: 12px;
            }

            & h2 {
                font-size: 38px;
                margin-bottom: 24px;
            }

            & .pn {
                & p {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .portfolio__photos {
        height: 3500px;
        grid-template-columns: 1fr;
    }

    .portfolio__cospandstud .stud {
        grid-template-columns: 1fr;

        & .text {
            grid-column: 1;
            grid-row: 1;
        }

        & .text {
            padding: 132px 60px 142px 140px;

            & h3 {
                font-size: 21px;
                margin-bottom: 12px;
            }

            & h2 {
                font-size: 38px;
                margin-bottom: 24px;
            }

            & .pn {
                & p {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}