@import "./font.scss";

* {
    margin: 0;
    padding: 0;
    font-family: Gilroy, sans-serif;
}

.orange {
    color: #FF6B00;
}

// =====================MainBlock================

.main-block {
    height: 1080px;
    background:  url("../../img/bg-vector.svg") left 40% no-repeat,
                 url("../../img/bg-image.png")  right no-repeat,
                 #0F090B;

    .menu {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-top: 79px;
        height: 33px;

        &-burger {

            .burger-icon {
                cursor: pointer;
            }

            &__block {
                z-index: 10;
                background-color: #000000;
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 0;
                left: -100%;
                height: 100vh;
                width: 865px;
                padding: 79px 160px 86px 81px;
                box-sizing: border-box;
                transition: .4s all;
                

                .burger-close {
                    cursor: pointer;
                }

                .nav {
                    display: flex;
                    align-items: center;
                }

                ul {
                    margin-top: 153px;
                    li {
                        margin-bottom: 30px;
                        list-style: none;
    
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #ffffff;
                            font-size: 1.875rem;
                            line-height: 36px;
                            transition: .2s all;
        
                            &:hover {
                                transition: .2s all;
                                color: #FF6B00;
                            }
                        }
                    }
                }

                &-footer {
                    z-index: 10;
                    display: flex;
                    justify-content: space-between;
                    margin-top: auto;
                    margin-bottom: 0;

                    .menu-items__social {
                        margin-left: 0;
                    }

                    &__email {
                        display: inline-block;
                        color: #ffffff;
                        font-size: 1.8125rem;
                        line-height: 34px;
                        text-decoration: none;

                        &:before {
                            content: url('../../img/email-icon.svg');
                            width: 29px;
                            height: 29px;
                            vertical-align: middle;
                            margin-right: 18px;
                        }
                    }
                }
            }
        }

        &-items{
            display: flex;

            &__block {
                margin-left: 115px;

                &__phone, &__city {
                    display: inline-block;
                    color: #ffffff;
                    font-size:1.5625rem ;
            
                    &::before {
                        vertical-align: middle;
                        margin-right: 15px;
                        width: 25px;
                        height: 25px;
                    }

                }

                &__phone {
                    text-decoration: none;

                    &::before {
                        content: url('../../img/phone.svg');

                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &__city {
                    margin-left: 48px;

                    &::before {
                        content: url('../../img/city.svg');
                    }
                }
            }

            &__social {
                display: flex;
                align-items: center;
                margin-left: 165px;

                .social {
                    transition: .3s all;
                    width: 29px;
                    height: 29px;
                }

                a {
                    cursor: pointer;
                    &:last-child {
                        margin-left: 22px;
                    }

                    &:hover {
                        .social {
                            & path {
                                transition: .3s all;
                                fill: #FF6B00;
                            }
                        }
                    }
                }
            }
        }
    }

    .banner-block {
        width: fit-content;
        margin-left: 10%;
        margin-top: 197px;

        &__content {
            color:#ffffff;

            .banner-text {
                font-weight: 500;
                line-height: 35px;
                font-size: 1.875rem;
                font-style: normal;

                &__main {
                    font-size: 4.6875rem;
                    font-weight: bold;
                    margin: 20px 0;
                }
            }

            .quote {
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                font-size: 1.875rem;
                max-width: 805px;
                text-align: justify;
            }
        }

        &__button{
            color: #000000;
            font-size: 1.25rem;
            line-height: 24px;
            padding: 22px 45px;
            border-radius: 10px;
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            margin-top: 57px;
            outline: none;
            text-transform: uppercase;
            transition: .3s all;

            &:hover {
                transition: .3s all;
                color: #ffffff;
                background-color: #FF6B00;
            }
        }
    }
}
//========================== StatisticBlock=================
.statistic-wrapper {
    width: 100%;
    display: flex;

    .static-block {
        flex-basis: 79%;
        min-height: 250px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 36px rgba(15, 9, 11, 0.1);
        margin: -158px auto 68px auto;
        display: flex;
        justify-content: center;
    
        &__content {
            width: 80%;
            display: flex;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
    
            &-item {
                text-transform: uppercase;
                color: #000000;
                font-size: 1.25rem;
                line-height: 24px;
                text-align: center;
                flex-basis: 194px;
                font-weight: bold;
    
                .value-item {
                    font-weight: normal;
                    font-size: 3.75rem;
                    line-height: 72px;
                    text-shadow: 0px 4px 0px #FF6B00;
                    font-weight: 600;
                }
            }
        }
    }
}

// ===================Portfolio==========================

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & button {
        cursor: pointer;
    }

    &__main-page {
        background-image: url("../../img/portfolio/prt-main-page.png");
        background-size: cover;
        padding: 13% 12%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .left {
            display: flex;
            justify-content: flex-end;
        }

        & .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p {
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                color: #FFFFFF;
                margin-top: 4%;
                text-transform: uppercase;
            }

            & h3 {
                font-style: normal;
                font-weight: 800;
                font-size: 50px;
                line-height: 61px;
                color: #FFFFFF;
                text-transform: uppercase;
                margin-top: 11px;

                & span {
                    color: #FF6B00;
                }
            }

            & button {
                outline: none;
                border: none;
                width: 192px;
                height: 61px;
                padding: 18.5px 45px;
                background: #FFFFFF;
                border-radius: 10px;

                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                text-transform: uppercase;
                margin-top: 7%;
            }

            & button:hover {
                background-color: #FF6B00;
                color: #fff;
            }
        }
    }

    &__indandlove {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .photo {
            width: 100%;
            height: 100%;

            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        & .photo:hover {
            cursor: url("../../img/lupa.cur"), pointer;
        }

        & .text {
            background-color: #0F090B;
            padding: 132px 50px 142px 52px;
            box-sizing: border-box;

            & h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                text-transform: uppercase;
                color: #FF6B00;
                margin-left: 22px;
            }

            & h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 2px;
                margin-bottom: 9px;
                margin-left: 22px;
            }

            & .pn {
                border-left: 1px solid #fff;
                padding-left: 22px;

                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(255, 255, 255, 0.31);
                }
            }

            & button {
                outline: none;
                border: none;
                width: 123px;
                height: 39px;
                padding: 11.5px 25.5px;
                background: #FFFFFF;
                border-radius: 5px;

                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                text-transform: uppercase;
                margin-top: 8%;
                margin-left: 22px;
            }

            & button:hover {
                background-color: #FF6B00;
                color: #fff;
            }
        }
    }

    &__photos {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & img:hover {
            cursor: url("../../img/lupa.cur"), pointer;
        }
    }

    &__cospandstud {
        & .cosp {
            background-image: url("../../img/portfolio/cosp-bg.png");
            background-size: cover;
            padding: 264px 178px 296px 254px;
            box-sizing: border-box;
            display: flex;

            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 17.3333px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.53);
            }

            & .name {
                margin-left: 20px;
                padding-left: 20px;
                border-left: 1.33px solid #fff;
                text-transform: uppercase;
                & h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17.3333px;
                    line-height: 20px;
                    color: #FF6B00;
                }

                & h2 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 33.3333px;
                    line-height: 40px;
                    color: #FFFFFF;
                    margin-top: 4px;
                }
            }
        }

        & .stud {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & .photo {
                width: 100%;
                height: 100%;

                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            & .photo:hover {
                cursor: url("../../img/lupa.cur"), pointer;
            }
    
            & .text {
                background-color: #0F090B;
                padding: 132px 50px 142px 52px;
                box-sizing: border-box;
    
                & h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: #FF6B00;
                    margin-left: 22px;
                }
    
                & h2 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-top: 2px;
                    margin-bottom: 9px;
                    margin-left: 22px;
                }
    
                & .pn {
                    border-left: 1px solid #fff;
                    padding-left: 22px;
    
                    & p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: rgba(255, 255, 255, 0.31);
                    }
                }
    
                & button {
                    outline: none;
                    border: none;
                    width: 123px;
                    height: 39px;
                    padding: 11.5px 25.5px;
                    background: #FFFFFF;
                    border-radius: 5px;
    
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    text-transform: uppercase;
                    margin-top: 8%;
                    margin-left: 22px;
                }

                & button:hover {
                    background-color: #FF6B00;
                    color: #fff;
                }
            }
        }
    }
}

// =================Price-services=================

.price-services {
    width: 100%;
    background-color: #0F090B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__right {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3px;
    }

    &__left {
        display: flex;
        justify-content: flex-start;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 36px;
            color: #ffffff;

            & span {
                color: #FF6B00;
            }
        }

        & h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            color: #FFFFFF;
            text-transform: uppercase;
        }

        & .line {
            margin-top: 30px;
            display: flex;
            margin-bottom: 69px;

            & .long {
                height: 4px;
                background: #FF6B00;
                width: 133px;
                margin-right: 7px;
            }

            & .mid {
                width: 27px;
                height: 4px;
                background: #FF6B00;
                margin-right: 7px;
            }

            & .short {
                height: 4px;
                width: 15px;
                background: #FF6B00;
            }
        }

        &__blocks {
            margin: 0 5%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 144px;

            & .block {
                background: #FFFFFF;
                border-radius: 10px;
                padding: 40px 65px 50px 65px;
                box-sizing: border-box;
                width: 30%;
                height: fit-content;
                position: relative;
                
                & .special {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: url("../../img/price-services/line.svg");
                    width: 106px;
                    height: 106px;

                    & p {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        transform: rotate(44.79deg);
                        margin-bottom: 0;
                        margin-top: 32px;
                        margin-left: 22px;
                    }
                }

                & h3 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 48px;
                    color: #0F090B;
                    margin-bottom: 35px;
                    text-transform: none;
                }

                & h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 73px;
                    color: #FF6B00;
                    margin-bottom: 5px;
                }

                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 29px;
                    color: #0F090B;
                    text-transform: none;
                    margin-bottom: 25px;
                }

                & .list {
                    border-top: 3px solid #E9E9E9;
                    padding-top: 48px;

                    & .point {
                        display: flex;
                        align-items: center;
                        margin-bottom: 49px;

                        & img {
                            margin-right: 33px;
                        }

                        & p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 24px;
                            text-transform: uppercase;
                            color: #0F090B;
                            margin-bottom: 0;
                        }
                    }
                }

                & button {
                    outline: none;
                    cursor: pointer;
                    width: 74%;
                    height: 70px;
                    background: linear-gradient(265.9deg, #FF5C00 -8.27%, #FF4D00 113.07%);
                    border-radius: 9px;
                    border: none;
                    margin-left: 13%;

                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }

                & button:hover {
                    transform:scale(1.1,1.1);
                }
            }
        }
    }
}

// =================F.A.Q ==================

.qblock {
    background-color: #ffffff;
    width: 90%;
    margin: 133px auto 210px auto;

    &-title {
        &__block {
            margin-bottom: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #0F090B;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;

            &-subtitle{
                font-size: 1.875rem;
                line-height: 36px;
            }
            &-title{
                line-height: 60px;
                font-size: 3.125rem;
                margin-bottom: 30px;
            }
        }
    }

    &-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        &__top, &__middle, &__bottom {
            display: grid;
            grid-template-columns: 3fr 1fr 3fr;
            grid-template-rows: 1fr;
            align-items: center;
            overflow: hidden;
        }

        &-stage {
            // .line {
            //     max-height: 226px;
            // }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            max-height: 226px;

            &__step {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                justify-content: center;
                height: 60px;
                border-radius: 50%;
                border: 1px solid #FF6B00;
                margin: auto;
                padding: 12px;

                &.orange {
                    background-color:  #FF6B00;
                    p {
                        color: #ffffff;
                    }
                }

                p {
                    color: #FF6B00;
                    font-size: 1.875rem;
                    line-height: 36px;
                    font-weight: 600;
                }
            }
        }

        &__top {
            .qblock-content {
                &__q {
                    // margin-top: -10%;
                }
            }
        }

        &__middle {
        }

        &__bottom {

            .qblock-content {
                &__q, &__answer {
                    
                }
            }
        }

        &__answer {
            border-radius: 20px;
            background-color: #ffffff;
            max-width: 736px;
            padding: 37px 31px 27px 31px;
            box-shadow: 0 0 15px -10px #000000;

            &.orange-block {
                background-color: #FF6B00;
                box-shadow: none;

                p {
                    color: #ffffff;
                }
            }

            p {
                color: #0F090B;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                text-align: justify;
                font-size: 1.375rem;
            }
        }

        &__q {
            font-size: 3.125rem;
            line-height: 60px;
            text-align: right;
            color: #000000;
            font-weight: 600;
        }
    }
}

// =================Contact-block ==================

.contact-block {
    display: grid;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;

    &__left {

        form {

            label, input {
                display: block;
            }
        }

        &-feedback {

            &__title-block {

                .feedback__subtitle {
                    color: #FF6B00;
                    text-transform: uppercase;
                    line-height: 35px;
                    font-size: 1.875rem;
                    font-weight: 500;
                }

                .feedback__title {
                    color: #000000;
                    line-height: 60px;
                    font-size: 3.125rem;
                    font-weight: 600;
                }
            }

            &__content-block {
                margin-top: 60px;

                .feedback__input {
                    outline: none;
                    max-width: 85%;
                    width: 85%;
                    border-style: none none solid none;
                    padding-bottom: 26px;
                    border-bottom: 2px solid #D1D1D1;

                    color: #B7B7B7;
                    line-height: 29px;
                    font-size: 1.5625rem;
                    font-weight: 500;

                    &:not(:first-child) {
                        margin-top: 50px;
                    }

                    &::placeholder {
                        color: #B7B7B7;
                    }

                    &-message {
                        margin-top: 110px;

                        & label {
                            color: #B7B7B7;
                            line-height: 29px;
                            font-size: 1.5625rem;
                        }

                        .feedback__input {
                            padding-bottom: 0;
                            font-size: 1.25rem;

                            padding: 0 32px;
                            box-sizing: border-box;
                        }
                    }
                }

                .feedback-btn {
                    background: linear-gradient(265.9deg, #FF5C00 -8.27%, #FF4D00 113.07%); ;
                    border-radius: 10px;
                    color: #ffffff;
                    text-transform: uppercase;
                    padding: 25px 41px;
                    border: none;
                    cursor: pointer;
                    font-style: normal;
                    font-size: 1.875rem;
                    margin-top: 120px;
                }
            }
        }
    }

    &__right{
        max-width: 856px;
        // max-height: 843px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
            width: 100%;
        }

        footer {
            background-color: #0F090B;
            display: flex;
            border-top: 5px solid #FF6B00;

            .footer-block {
                display: flex;
                flex: 0.95;
                padding: 38px 0;
                justify-content: center;
                align-items: center;

                &__phone, &__city {
                    display: inline-block;
                    color: #ffffff;
                    font-size:1.25rem ;
            
                    &::before {
                        vertical-align: middle;
                        margin-right: 15px;
                        width: 25px;
                        height: 25px;
                    }

                }

                &__phone {
                    text-decoration: none;

                    &::before {
                        content: url('../../img/phone.svg');

                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &__city {
                    margin-left: 50px;

                    &::before {
                        content: url('../../img/city.svg');
                    }
                }

                &__email {
                    margin-left: 50px;
                    display: inline-block;
                    color: #ffffff;
                    font-size: 1.25rem;
                    text-decoration: none;

                    &:before {
                        content: url('../../img/email-icon.svg');
                        width: 29px;
                        height: 29px;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                }
            }

            .footer-social {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                img {
                    width: 29px;
                    height: 29px;
                }
            }
        }
    }
}